@model Kdtry.Models.DaylySummary

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DaylySummary</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PupilID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PupilID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Credits)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Credits)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Summary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Summary)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DaylySummaryID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
